In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [8]:
df=pd.read_csv(r"C:\Users\abc\Desktop\Bootcamp practice\covid_toy.csv")

In [10]:
df.shape

(100, 6)

In [11]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [15]:
df.cough.value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [17]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [25]:
X_train

    age  gender  fever   cough       city
86   25    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
87   47    Male  101.0  Strong  Bangalore
61   81  Female   98.0  Strong     Mumbai
50   19    Male  101.0    Mild      Delhi
..  ...     ...    ...     ...        ...
44   20    Male  102.0  Strong      Delhi
23   80  Female   98.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
65   69  Female  102.0    Mild  Bangalore
12   25  Female   99.0  Strong    Kolkata

[80 rows x 5 columns]

In [26]:
df.city.value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

# normal

In [27]:
si=SimpleImputer()

In [28]:
X_train_fever=si.fit_transform(X_train[['fever']])

In [ ]:
X_test_fever=si.fit_transform(X_test[['fever']])